@import "../../styles/variables.scss";

.main-bg {
    display: block;
    background: url("../../img/Untitled-1Artboard.jpg") no-repeat center top
        fixed;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;

    &__innerText {
        transform: translate(-3%, 97%);

        h1 {
            text-align: end;
            color: $main-color;
        }
        p {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 0;
            color: $text-color;
        }
    }
}
